<div class="shift-container">
    <div class="left">
        <div class="shift-responsive-buttons">
            <i class="fa-solid fa-calendar-days"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-share-nodes"></i>
            <i class="fa-solid fa-briefcase"></i>
            <i class="fa-solid fa-person-rays"></i>
        </div>
        <div class="calender">
            <div class="calender-head">
                <h3>February, 2023</h3>
                    <a href="" class="left"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="" class="right"><i class="fa-solid fa-angle-right"></i></a>
            </div>
            <div class="calender-body">
                <ul class="calender-day">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="calender-dates">
                    <li class="prev">28</li>
                    <li class="prev">29</li>
                    <li class="prev">30</li>
                    <li class="prev">31</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>31</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li class="next">1</li>
                    <li class="next">2</li>
                    <li class="next">3</li>
                    <li class="next">4</li>
                </ul>
            </div>
        </div>
        <div class="shift-emply">
            <div class="shiftemp-head active">
                <i class="fa-solid fa-user"></i>
                <span>Employees</span>
                <i class="fa-solid fa-angle-right right"></i>
            </div>
            <div class="shiftem-body">
                <ul>
                    <li>
                        <input type="radio" name="users" id="user1">
                        <label for="user1">John Kubb</label>
                    </li>
                    <li>
                        <input type="radio" name="users" id="user2">
                        <label for="user2">Arnold Clerk</label>
                    </li>
                    <li>
                        <input type="radio" name="users" id="user3">
                        <label for="user3">Marie J Andrewson</label>
                    </li>
                    <li>
                        <input type="radio" name="users" id="user4">
                        <label for="user4">Camelie Rose</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shift-branch">
            <div class="shiftbnc-head">
                <i class="fa-solid fa-share-nodes"></i>
                <span>Branches</span>
                <i class="fa-solid fa-angle-right right"></i>
            </div>
            <div class="shiftbnc-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea accusantium odio laborum nisi. Excepturi, ex! Optio qui magni beatae voluptatem?</p>
            </div>
        </div>
        <div class="shift-designation">
            <div class="shiftdsn-head">
                <i class="fa-solid fa-briefcase"></i>
                <span>Designations</span>
                <i class="fa-solid fa-angle-right right"></i>
            </div>
            <div class="shiftdsn-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea accusantium odio laborum nisi. Excepturi, ex! Optio qui magni beatae voluptatem?</p>
            </div>
        </div>
        <div class="shift-skills">
            <div class="shiftskl-head">
                <i class="fa-solid fa-person-rays"></i>
                <span>Skills</span>
                <i class="fa-solid fa-angle-right right"></i>
            </div>
            <div class="shiftskl-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea accusantium odio laborum nisi. Excepturi, ex! Optio qui magni beatae voluptatem?</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="shift-r-nav">
            <div class="shift-r-1">
                <a href="">Employee View</a>
                <a href="">Week</a>
            </div>
            <p>Feb 20 - 24, 2023</p>
            <div class="shift-r-2">
                <a href="">Tools</a>
                <a href="">Publish</a>
            </div>
        </div>
        <div class="shift-r-nav-response">
            <div class="shift-l-resp">
                <a href=""><i class="fa-solid fa-users"></i></a>
                <a href=""><i class="fa-solid fa-calendar-week"></i>
                </a>
            </div>
            <p>Feb 20 - 24, 2023</p>
            <div class="shift-r-resp">
                <a href=""><i class="fa-solid fa-wrench"></i></a>
                <a href=""><i class="fa-solid fa-upload"></i></a>
            </div>
        </div>
        <div class="shift-r-table">
            <ul class="header">
                <li>Employee</li>
                <li>Feb 18</li>
                <li>Feb 19</li>
                <li>Feb 20</li>
                <li>Feb 21</li>
                <li>Feb 22</li>
                <li>Feb 23</li>
                <li>Feb 24</li>
            </ul>
            <ul class="user">
                <li class="userdetal">
                    <img src="#" alt="">
                    <i class="fa-regular fa-user"></i>
                    <div class="userinfo">
                        <h4>User 01</h4>
                        <h6>Designation 01</h6>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
            </ul>
            <ul class="user">
                <li class="userdetal">
                    <img src="#" alt="">
                    <i class="fa-regular fa-user"></i>
                    <div class="userinfo">
                        <h4>User 02</h4>
                        <h6>Designation 02</h6>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
            </ul>
            <ul class="user">
                <li class="userdetal">
                    <img src="#" alt="">
                    <i class="fa-regular fa-user"></i>
                    <div class="userinfo">
                        <h4>User 03</h4>
                        <h6>Designation 03</h6>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
            </ul>
            <ul class="user">
                <li class="userdetal">
                    <img src="#" alt="">
                    <i class="fa-regular fa-user"></i>
                    <div class="userinfo">
                        <h4>User 04</h4>
                        <h6>Designation 04</h6>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
            </ul>
            <ul class="user">
                <li class="userdetal">
                    <img src="#" alt="">
                    <i class="fa-regular fa-user"></i>
                    <div class="userinfo">
                        <h4>User 05</h4>
                        <h6>Designation 05</h6>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
                <li class="shift-entry">
                    <div class="shift-ent-overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>