<div class="menu">
    <div class="menu-item" routerLink="/">
        <div class="click">
            <i class="fa-solid fa-hashtag"></i>
            <p>dashboard</p>
        </div>
    </div>
    <div class="menu-item" routerLink="/employee">
        <div class="click">
            <i class="fa-solid fa-user"></i>
            <p>employee</p>
        </div>
    </div>
    <div class="menu-item" routerLink="/shift">
        <div class="click">
            <i class="fa-solid fa-layer-group"></i>
            <p>shift Planning</p>
        </div>
    </div>
    <div class="menu-item" routerLink="/leave">
        <div class="click">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>leave status</p>
        </div>
    </div>
    <div class="menu-item" routerLink="/report">
        <div class="click">
            <i class="fa-solid fa-chart-area"></i>
            <p>reports</p>
        </div>
    </div>
    <div class="menu-item" routerLink="/time">
        <div class="click">
            <i class="fa-solid fa-stopwatch"></i>
            <p>time clock</p>
        </div>
    </div>
</div>