/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
$bg-primary: #5ec7a4;
$bg-secondary: #eafef0;
$primary-color: #335778;
$secondary-color: #fff;

@mixin commonpadding($pt, $pr, $pb, $pl){
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
}